* {
    /* includes all except margin in width, height. Way better than default */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: "SF Pro Display", "Helvetica Neue", Georgia, "Times New Roman", Times, serif;
    background-image: url("../images/concrete_seamless.png");
    background-repeat: repeat;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1eb7bd;
    color: white;
    margin: 0;
    padding: 0;
    border: 1px solid #777777;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 20px 10px 20px;
    background-color: white;
    border: 1px solid #777777;
}

.gameHeader {
    border: 1px solid #777777;
    padding: 4px;
    text-align: center;
}

#currentGuess {
    text-align: center;
    margin-left: 1em;
}

.gameProgress {
    display: flex;
    flex-direction: row;
    justify-items: center;
    border: 1px solid gray;
    padding: 0;
}

section,
aside {
    display: block;
    position: relative;
    height: auto;
    text-align: center;
    border: 1px solid #ebebeb;
    background-color: #ebebeb;
    color: #777;
    width: 50%;
    margin: 1% 1% 1% 1%;
}

article {
    border: 1px solid gray;
    margin: 5px;
    padding: 4px;
    text-align: left;
    display: block;
    background-color: gray;
    color: white;
}

aside {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#gameMessage {
    text-align: center;
    font-style: italic;
}

#gameInfo {
    border: 1px solid gray;
    padding: 10px;
    line-height: 1.7em;
    background: white;
    color: black;
    margin: 2%;
}

#victories {
    align-self: center;
    text-align: center;
    font-weight: bold;
}

.sectionTitle {
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    padding: 0.5em;
}

#albumCover {
    position: relative;
    padding: 2px;
    width: 100%;
    height: auto; 
    display: block;
    max-width:550px;
    max-height:400px;
  
}

#crystals {
    display: flex;
    flex-flow: row;
    justify-items: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;    
}

.crystal-image {
    width: 100px;
    height: 100px;
    padding: 2px;
  }


@media screen and (max-width: 640px) {
    .gameProgress {
        flex-flow: column;
        padding: 2%;
    }

    section,
    aside {
        width: 100%;
        margin: 1% 0 1% 0;
    }
}