* {
    /* includes all except margin in width, height. Way better than default */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: "SF Pro Display", "Helvetica Neue", Georgia, "Times New Roman", Times, serif;
    background-image: url("../images/star_wars_bg.jpg");
    background-repeat: repeat;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}